@import './base.css';

body {
  background: #111;
  color: #aaa;
  font-family: 'Roboto', sans-serif;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #aaa;
}